[submodule "docs/slides/reveal.js-plugins"]
	path = docs/slides/reveal.js-plugins
	url = https://github.com/rajgoel/reveal.js-plugins.git
[submodule "docs/slides/reveal.js"]
	path = docs/slides/reveal.js
	url = https://github.com/rajgoel/reveal.js.git
[submodule "docs/labnotes/02-28/virtual-jetbot/jetbot_ros"]
	path = docs/labnotes/02-28/virtual-jetbot/src/jetbot_ros-melodic
	url = https://github.com/dusty-nv/jetbot_ros.git
	branch = melodic
[submodule "docs/labnotes/02-28/virtual-jetbot/src/car_demo"]
	path = docs/labnotes/02-28/gazebo-tutorials-car-demo/src/car_demo
	url = https://github.com/wecacuee/car_demo.git
[submodule "docs/labnotes/09-20/jetson-containers"]
	path = docs/labnotes/09-20/jetson-containers
	url = git@github.com:dusty-nv/jetson-containers.git
